.InfoPage {
    width: 100%;
    height: 100%;
    background-color: #F3E4E1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-x: hidden;
}

.TopDecor {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.BottomDecor {
    width: 100%;
}

.FounderWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.8rem 0;
}

.ContentWrapper {
    padding: 11.7rem 1.8rem 0 1.8rem;
}